<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4neft.Config.Log4NetConfigurationSectionHandler,log4not-net-1.0"/>
  </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\log.txt"/>
      <!--这里可能出错-->
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd.txt"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %n时间: %date %n级别: %-5level %n错误类: %logger %n错误内容: %message%newline %n"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>

  </log4net>
</configuration>
